.status-display {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);

  width: 99px;

  font-family: var(--font-primary);
  font-weight: var(--weight-medium);

  border: var(--border-width-thin) solid transparent;
  border-radius: var(--radius-sm);

  cursor: pointer;
  outline: none;

  .status-display-icon {
    display: inline-flex;

    width: 16px;
    height: 16px;
    fill: currentcolor; // ensures icon inherits button color
  }

  .status-display-label {
    display: inline-block;
  }

  // Sizes
  &-sm {
    padding: var(--space-sm) var(--space-sm);

    font-size: var(--size-body-sm);
  }

  &-md {
    padding: var(--space-xs) var(--space-sm);

    font-size: var(--size-body-md);
  }

  &-lg {
    padding: var(--space-md) var(--space-lg);

    font-size: var(--size-body-lg);
  }

  // Variants
  &-ok {
    color: var(--color-status-success);

    background-color: var(--color-status-success-tint);
    border: 1px solid var(--color-status-success);
  }

  &-warn {
    color: var(--color-status-warning);

    background-color: var(--color-status-warning-tint);
    border: 1px solid var(--color-status-warning);
  }

  &-alert {
    color: var(--color-status-critical);

    background-color: var(--color-status-critical-tint);
    border: 1px solid var(--color-status-critical);
  }

  &-na {
    color: var(--color-status-neutral);

    // background-color: var(--color-status-neutral);
    border: 1px solid var(--color-status-neutral);
  }
}
